<h1>Trip Form </h1>
<%= render partial: "layouts/errors", locals: {object: @trip} %>
<!--
<% if @trip.location %>
  <h2>Location: <%= @trip.location.city %> - <%= @trip.location.country %></h2>
<% else %>
  <h1>Add Trip Budget</h1>
<% end %>-->

 <%= form_for([@location, @trip]) do |f| %>
  <%= f.hidden_field :location_id %>
  <%= f.label :budget %>
  <%= f.number_field :budget, step: 0.01 %>


  <h3>Select an Already Existing location: </h3>
    <%= f.collection_select :location_id, Location.all, :id, :city %> 
    
  
  <h3>Create a new Location</h3>
  <%= f.fields_for :location do |loc| %>
    <%= loc.label :city %>
    <%= loc.text_field :city %>
    <%= loc.label :country %>
    <%= loc.text_field :country %>
  <% end %> 

   <%= f.submit "Create Trip" %>
<% end %>