<h1> SHOW PAGE</h1>

<%= trip_price %>

<h2>Location Place:- <%= @trip.city_and_country if @trip.location %></h2>
<h2>Travel To:- <%= @trip.travel.name_and_address %></h2>

<%= link_to "Edit", edit_trip_path(@trip) %> |
<%= link_to "Back", trips_path %> |
<!--<%= link_to "Delete", trip_path(@trip), method: "delete" %>-->