<h1>Edit Travel Form</h1>

<%= render partial: "layouts/errors", locals: {object: @travel} %>

<%= form_for(@travel) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

   <%= f.submit "Update Travel" %>
<% end %>