<h1>New Travel Form</h1>

<%= render partial: "layouts/errors", locals: {object: @travel} %>

<%= form_for([@trip,@travel]) do |f| %>
  <%= f.hidden_field :trip_ids %>
    <%= render partial: "form", locals: {f: f} %>

  <%= f.submit "Create Travel" %>
<% end %>