<h1>Edit Location</h1>
<%= render partial: "layouts/errors", locals: {object: @location} %>

<%= form_for(@location) do |f| %>

  <%= render partial: "form", locals: {fp: f} %>
  
  <%= f.fields_for :trips do |t| %>
    <%= t.label :budget, "Budget Amount: " %>
    <%= t.number_field :budget, step: 0.01 %>

   <%= f.submit "Update Location" %>
<% end %>