<h1>New Location!</h1>
<%= render partial: "layouts/errors", locals: {object: @location} %>

<%= form_for(@location) do |f| %>

 <%= render partial: "form", locals: {fp: f} %>
  
<!--
  <h3>Add Trip Budget</h3>
  <%= f.fields_for :trips do |t| %>
    <%= t.label :budget, "Budget Amount: " %>
    <%= t.number_field :budget, step: 0.01 %>
  
   <h3>Select a Travel</h3>
    <%= t.label :travel_ids, "Travel Name:" %>
    <%= t.collection_select :travel_id, Travel.all, :id, :name %> -
    <br><br>
 
   <h3>Add New Travel</h3>
    <% t.fields_for :travel do |trav| %>
      <%= trav.label :name, "New Travel Name" %>
      <%= trav.text_field :name %>
      <%= trav.label :address, "New Travel Address" %>
      <%= trav.text_field :address %>
      <br>
    <% end %>
  <% end %> -->
  <br><br>

  <%= f.submit "Create Location" %>
<% end %>
