<h1>Show Page</h1>

<h2>User Name:- <%= @location.user.username %></h2>

<h2>Location: <%= link_to @location.city_and_country, location_trips_path(@location) %></h2>

<!--<%= render partial: "trips/trip", collection: @location.trips %> -->
<%= render @location.trips %>  

<%= link_to "Add New Location Trip", new_location_trip_path(@location) %> |
<%= link_to "All Location Trips", location_trips_path(@location) %> <br><br>

<%= link_to "Edit Location", edit_location_path(@location) %> |
<%= link_to "Back To Locations", locations_path %> |
<%= link_to "Delete", location_path(@location), method: "delete" %>
<!--<%= @location.city_and_country %>-->